@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&display=swap');

:root {
  --darkPrimaryC: #455A64;
  --ligthPrimaryC: #B3E5FC;
  --primary: #e4f4fc;
  --text: #FFFFFF;
  --pText: #212121;
  --accentColor: #FFC107;
  --secondaryText: #757575;
  --divider: #BDBDBD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a,
.btn {
  cursor: pointer;
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: var(--pText);
}

.App {
  width: 100%;
}

header {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

nav {
  width: 100%;
  height: 3.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  color: var(--accentColor);
  box-shadow: 0px 10px 20px rgba(3, 168, 244, 0.1);
}

.wrapper {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  background-color: var(--primary);
}

.progress {
  height: 2px;
  background-color: var(--accentColor);
}

.contain_present_about {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-radius: 15px;
  margin-top: 4rem;
  box-shadow: 10px 10px 20px rgba(3, 168, 244, 0.1);
  background-color: rgba(255, 255, 255, 0.01);
  border-left: 1px solid rgba(3, 168, 244, 0.5);
  border-top: 1px solid rgba(3, 168, 244, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: relative;
  margin-bottom: 29rem;
}

.presentacion {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 220px;
  height: 250px;
  border-radius: 18%;
  overflow: hidden;
  border-left: 1px solid rgba(3, 168, 244, 0.5);
  border-top: 1px solid rgba(3, 168, 244, 0.5);
  transition: all .3s;
}

.mi_foto {
  scale: 1;
  width: 105%;
  transition: all .3s;
}

.photo:hover .mi_foto {
  scale: 1.05;
}

.photo:hover {
  translate: 0 -5px;
}

.redes {
  width: 130px;
  display: flex;
  justify-content: space-between;
  color: var(--darkPrimaryC);
  transition: margin-left 1s;
  cursor: pointer;
}

.description {
  font-size: 1.5rem;
  color: var(--accentColor);
  transition: margin-left 1s;
}

.frases {
  font-size: 1.8rem;
  background-clip: text;
  font-weight: 700;
  background: linear-gradient(36deg, var(--primary), var(--accentColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 2.5rem;
  animation: frase 5s infinite ease-in-out;
}

@keyframes frase {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.about_me {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  background: url(./assets/img/fondo.png), linear-gradient(70deg, black 50%, #191919);
  background-size: cover;
  position: absolute;
  bottom: -28.5rem;
}
.about_me p{
  font-size: 1.2rem;
  color: var(--accentColor);
  filter: drop-shadow(1px 1px 0 var(--pText));
}

.icons_skills {
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.5rem;
  left: 0;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: icons 5s infinite linear;
}

.icon img {
  width: 90%;
}

/* @keyframes icons {
  0%{
    opacity: 0;
    filter: none;
  }
  10%{
    opacity: 0;
    filter: none;
  }
  50%{
    opacity: 1;
    filter: drop-shadow( 10px 10px 10px var(--secondaryText));
  }
  90%{
    opacity: 0;
    filter: none;
  }
  100%{
    opacity: 0;
    filter: none;
  }
} */



main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
}

.icon {
  color: #46c1fa;
}


@media screen and (min-width: 700px) {
  .about_me{
    bottom: -22rem;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--primary);
  }
  .contain_present_about{
    margin-bottom: 24rem;
  }
}


@media screen and (min-width: 900px) {
  .about_me{
    position: relative;
    bottom: 0;
    height: 50vh;
  }
  .contain_present_about{
    height: inherit;
    padding: 2rem 0;
    align-items: center;
    margin: 2.5rem 0 0 0;
  }
  .frases{
    bottom: 1rem;
  }
}