@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');

:root {
  --darkPrimaryC: #455A64;
  --ligthPrimaryC: #CFD8DC;
  --primary: #607D8B;
  --text: #FFFFFF;
  --pText: #212121;
  --accentColor: #FFEB3B;
  --secondaryText: #757575;
  --divider: #BDBDBD;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, a, .btn {
  cursor: pointer;
}

body {
  width: 100vw;
  font-family: 'Fira Sans', sans-serif;
  color: var(--pText);
  overflow-x: hidden;
}

.App {
  width: 100vw;
}

header {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

nav {
  width: 100vw;
  height: 3.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: var(--accentColor);
  filter: drop-shadow(0 0 1px var(--pText));
}
.nav_in{
  width: 100vw;
  max-width: 1100px;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.float_container{
  width: 65px;
  height: 85px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.067);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  z-index: 99;
  /* mix-blend-mode: difference; */
}
.float{
  width: 55px;
  height: 83px;
  border-radius: 30px;
  background-color: var(--darkPrimaryC);
  display: flex;
  padding: .8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.float .bx{
  color: var(--accentColor);
  margin-top: -25px;
}
.float p{
  font-weight: 800;
  font-size: 1rem;
  color: var(--primary);
  text-align: center;
  position: absolute;
}
.wrapper {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  background-color: var(--ligthPrimaryC);
}

.progress {
  height: 2px;
  background-color: var(--accentColor);
}

.contain_present_about {
  width: 100%;
  max-width: 1100px;
  height: calc(100vh - 8rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  background: url(./assets/img/fondo1.png), rgba(255, 255, 255, 0.05);
  background-position: center;
  background-size: 100vw;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: relative;
  padding-top: 15vh;
}

.presentacion {
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}

.photo {
  width: 220px;
  height: 250px;
  border-radius: 18%;
  overflow: hidden;
  border-left: 3px solid hsla(199, 92%, 85%, 0.3);
  border-top: 3px solid hsla(199, 92%, 85%, 0.3);
  border-right: 1px solid hsla(199, 92%, 85%, 0.3);
  border-bottom: 1px solid hsla(199, 92%, 85%, 0.3);
  transition: all .3s;
}

.mi_foto {
  scale: 1;
  width: 105%;
  transition: all .3s;
}

.photo:hover .mi_foto {
  scale: 1.05;
}

.photo:hover {
  translate: 0 -5px;
}

.redes {
  width: 110px;
  display: flex;
  justify-content: space-between;
  color: var(--darkPrimaryC);
  transition: margin-left 1s;
  cursor: pointer;
}
.redes .bx{
  transition: all .5s;
  filter: drop-shadow(0 0 2px var(--accentColor));
}
.redes:hover .bx{
  color: var(--accentColor);
  filter: none;
}

.description {
  font-size: 1.5rem;
  color: var(--accentColor);
  transition: margin-left 1s;
  letter-spacing: 1.5px;
}

.frases {
  font-size: 1.5rem;
  font-style: italic;
  background-clip: text;
  font-weight: 700;
  background: linear-gradient(36deg, var(--ligthPrimaryC), var(--accentColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 2.5rem;
  animation: frase 5s infinite ease-in-out;
}

@keyframes frase {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

main h2{
  font-size: 2rem;
  font-style: italic;
  background-clip: text;
  font-weight: 700;
  background: linear-gradient(36deg, var(--ligthPrimaryC), var(--accentColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.about_me {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2rem;
  border-radius: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.05) 37%, var(--accentColor) 38%);
}

.aboutme_img{
  width: 100%;
  max-width: 450px;
  height: 55vw;
  max-height: 350px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  border-left: 3px solid hsla(199, 92%, 85%, 0.3);
  border-top: 3px solid hsla(199, 92%, 85%, 0.3);
  border-right: 1px solid hsla(199, 92%, 85%, 0.3);
  border-bottom: 1px solid hsla(199, 92%, 85%, 0.3);
}
.aboutme_img img{
  width: 110%;
  object-fit: cover;
  transition: all .5s;
}
.about_me:hover .aboutme_img img{
  scale: 1.05;
}
.about_me p{
  width: 100%;
  max-width: 450px;
  font-size: 1rem;
  color: var(--pText);
  filter: drop-shadow(1px 1px 0 var(--ligthPrimaryC));
  line-height: 1.5rem;
  text-align: center;
  font-style: italic;
}
.about_me hr{
  border: none;
  height: 1px;
  background: linear-gradient(90deg, var(--accentColor), var(--darkPrimaryC), var(--accentColor));
}

.icons_skills {
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.5rem;
  left: 0;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: icons 5s infinite linear;
}

.icon img {
  width: 90%;
}

/* @keyframes icons {
  0%{
    opacity: 0;
    filter: none;
  }
  10%{
    opacity: 0;
    filter: none;
  }
  50%{
    opacity: 1;
    filter: drop-shadow( 10px 10px 10px var(--secondaryText));
  }
  90%{
    opacity: 0;
    filter: none;
  }
  100%{
    opacity: 0;
    filter: none;
  }
} */




.icon {
  color: #46c1fa;
}


@media screen and (min-width: 400px) {
  .contain_present_about{
    padding-top: 10vh;
  }
}

@media screen and (min-width: 700px) {
  .about_me{
    transition: all .5s;
  }
  .float_container{
    bottom: 3rem;
  }
}


@media screen and (min-width: 900px) {
  .nav_in{
    padding: 0 1rem;
  }
  main{
    margin-top: 2rem;
  }
  main h2{
    font-size: 2.5rem;
  }
  .about_me{
    position: relative;
    margin-top: 0px;
    height: 450px;
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.05) 45%, var(--accentColor) 46%);
  }
  .aboutme_img{
    align-self: flex-start;
    width: 45%;
  }
  .about_me p{
    align-self: flex-end;
    width: 45%;
  }
  .contain_present_about{
    padding: 2rem 0 3rem 0;
    align-items: center;
    background: url(./assets/img/fondo.png), rgba(255, 255, 255, 0.05);
    background-position: 100% 100%;
    background-size: 100vw;
  }
  .frases{
    bottom: 1rem;
    font-size: 2rem;
  }
  .float_container{
    right: calc(50% - 550px);
  }
}