.lenguajes{
    width: 100%;
    background: linear-gradient(90deg, transparent, var(--primary), transparent);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.velocity_scroll{
    /* border: 1px solid salmon; */
    width: 900px;
    max-width: 1000px;
    padding: 0;
    margin-right: -530px;
}
.parallax{
    width: 100%;
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
}
.scroller{
    /* border: 1px solid purple; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    width: 100%;
}
.scroller span{
    display: flex;
    align-items: center;
}
.scroller img{
    height: 40px;
    margin: 0 .5rem;
}